<div class= "page-header">
	<h1 style="color: white;"> Informations Of {{username}} </h1>
</div>
	<div style="background-color: white; padding: 0px 25px 25px 25px;">
			<form ng-submit="saveChange()">
				<br>
				<p ng-show="changeError" style= "text-align: center; background-color: red ; color:white;"> {{changeMessage}} </p>
				<br>
				<label>Age : </label>
				<input class="form-control" style="width: 300px" name="age" type="text" ng-model="age">
				<br>

				<label>Phone number : </label>
				<input class="form-control" style="width: 300px" name="phoneNumber" type="text"  ng-model="phoneNumber">
				<br>

				<label>Country : </label>
				<input class="form-control" style="width: 300px" name="country" type="text" ng-model="country">
				<br>

				<label>City : </label>
				<input class="form-control" style="width: 300px" name="city" type="text"  ng-model="city">
				<br>

				<button  class= "btn btn-primary" type= "submit"> Save change </button>
				<button  class= "btn btn-danger" ng-click="annulation()" type= "button"> Cancel </button>
			</form>
	</div>
