<h2 style="color: white;">
	<center>
		Welcome {{user.username}}, if you are here, it's that you have some question. So you can contact someone of our team which the following informations :
	</center>
</h2>
<br>
<div class="row">
	<div class="col-sm-4" style="background-color:lavender;">
		<table class="table">
			<tr>
				<td> <strong> First Name : Neirinckx </strong> </td>
				<tr></tr>
				<td> <strong> Second Name : Guillaume </strong> </td>
				<tr></tr>
				<td> <strong> Phone number : 0494 456 487 </strong> </td>
				<tr></tr>
				<td> <strong> Job : Student at UCL </strong> </td>
				<tr></tr>
			</tr>
		</table>
	</div>
	<div class="col-sm-4" style="background-color:lavenderblush;">
		<table class="table">
			<tr>
				<td> <strong> First Name : Neirinckx </strong> </td>
				<tr></tr>
				<td> <strong> Second Name : Guillaume </strong> </td>
				<tr></tr>
				<td> <strong> Phone number : 0494 456 487 </strong> </td>
				<tr></tr>
				<td> <strong> Job : Student at UCL </strong> </td>
				<tr></tr>
			</tr>
		</table>
	</div>
	<div class="col-sm-4" style="background-color:lavender;">
		<table class="table">
			<tr>
				<td> <strong> First Name : Neirinckx </strong> </td>
				<tr></tr>
				<td> <strong> Second Name : Guillaume </strong> </td>
				<tr></tr>
				<td> <strong> Phone number : 0494 456 487 </strong> </td>
				<tr></tr>
				<td> <strong> Job : Student at UCL </strong> </td>
				<tr></tr>
			</tr>
		</table>
	</div>
</div>
<br>
<h2 style="text-align: center; color: white;"> You can also ask us some question at the following mail adress : support.RenCarApp@student.uclouvain.be </h2>
