<div class= "page-header">
	<h1>Create an evaluation </h1>
</div>

<div style="background-color: white;padding-left: 25px;padding-right: 25px;">
	<form ng-submit="createEval()">
		<p ng-show="errorEval" style= "background-color: red ; color: white; text-align: center;"> {{evalMessage}} </p>

		<label>Username : </label>
		<input class="form-control" style="width: 300px;" name="username" type="text" ng-model="evaluationData.username">
		<br>

		<label>Evaluation (/10) : </label>
		<input class="form-control" style="width: 100px" name="eval" type="text" ng-model="evaluationData.eval">
		<br>

		<label>Commentary : </label>
		<input class="form-control" style="width: 400px" name="commentary" type="text" ng-model="evaluationData.commentary">
		<br>

		<button class= "btn btn-primary" type= "submit"> Save evaluation </button>

	</form>
		<h2> Previous evaluation : </h2>
		<br>
			<table class="table">
				<tr>
					<td> <strong> Username : </strong> </td>
					<td> <strong> Evaluation (/10) : </strong> </td>
					<td> <strong> Commentary : </strong> </td>
					<td> </td>
				</tr>

				<tr ng-repeat="evaluation in evaluations">
					<td>{{evaluation.username}}</td>
					<td>{{evaluation.eval}}</td>
					<td>{{evaluation.commentary}}</td>
					<td>
						 <button ng-click="deleteEvaluation(evaluation)" type="button" class="btn btn-danger">Delete evaluation</button>
					</td>
				</tr>
			</table>
</div>
