<center>
	<div style="background-color:white;opacity: 1;width:1000px;height:auto; padding: 20px;border:1px solid #999999;">
		<p style="color: black; text-align: left">
			RentCarApp is an interactive whose primary goal consists of making the task of renting all kinds of vehicles easier. The app is also made in a very intuitive and practical way that allows everybody to use it regardless of the age or experience with similar apps. Our app contains 5 different navigation tabs.
			<br>
			<br>
			In the "Rent A Car" tab, you can perform a vehicle search for renting and gain the owners phone number in order to contact him.
			<br>
			<br>
			In the "Rent My Car" tab, you can make your own offer. The added vehicles will be available to other users for renting.
			<br>
			<br>
			The 4th tab, namely "My Offers", lets you visualize all the offers you previously made via the second tab and the users that selected the offers. This tab can also be used to delete offers.
			<br>
			<br>
			The 5th tab "my Profile" lets you visualize your own profile, change some information and see what offers you previously selected. You can also read evaluations that other users have made about yourself.
			<br>
			<br>
			The 6th tab "Create evaluation" is used to write evaluations about other users. Bad evaluations leads to less trust and less trust leads to having less chances being selected or renting someone elses car. We highly recommend to all our users to evaluate someone else after the rent has taken place.
			<br>
			<br>
			Our maintenance team will be happy to help you with any questions or complaints via the "contact us" tab
		</p>
	</div>
</center>
