<div class= "page-header">
	<h3> {{user.username}} </h3>
</div>

<table class="table">
  <tr>
    <td> <strong> Username : {{user.username}} </strong> </td>
		<tr></tr>
    <td> <strong> Age : {{user.age}} </strong> </td>
		<tr></tr>
    <td> <strong> Phone number : {{user.phoneNumber}} </strong> </td>
		<tr></tr>
    <td> <strong> Country : {{user.country}} </strong> </td>
		<tr></tr>
    <td> <strong> City : {{user.city}} </strong> </td>
		<tr></tr>
		<td>
			 <button ng-click="changeProfil(user)" type="button" > Change profil </button>
		</td>
  </tr>

</table>

</div>
