<div class="page-header">

	<form ng-submit="findOffers()">
		<label>Brand: </label>
		<input class="form-control" style="width: 300px" name="brand" type="text" ng-model="searchData.brand">
		<br>

		<label>Model: </label>
		<input class="form-control" style="width: 300px" name="model" type="text" ng-model="searchData.model">
		<br>

		<label>City: </label>
		<input class="form-control" style="width: 300px" name="city" type="text" ng-model="searchData.city">
		<br>

		<button class= "btn btn-primary" type= "submit"> Search </button>
	</form>

	<table ng-show="showResults" class="table" style="margin-top : 50px" >
		<tr>
			<td> <strong> Username</strong> </td>
			<td> <strong> Brand </strong> </td>
			<td> <strong> Model </strong> </td>
			<td> <strong> € Per day </strong> </td>
			<td> <strong> City </strong> </td>
			<td> <strong> Already selected by </strong> </td>
			<td> <strong> Select </strong> </td>
		</tr>

		<tr ng-repeat="result in results">
			<td> <a href='#' ng-click = "goToProfile(result.username)">{{result.username}}</a></td>
			<td>{{result.brand}}</td>
			<td>{{result.model}}</td>
			<td>{{result.price}}</td>
			<td>{{result.city}}</td>
			<td>{{result.usernameSelect}}</td>
			<td>
			 <button ng-click="selectOffer(result)" type="button" > select </button>
			</td>
		</tr>
	</table>

	<table ng-show="showProfile" class="table" style="margin-top : 50px" >
		<strong> {{profile.username}} </strong>
		<tr>
			<td> <strong> Evaluation </strong> </td>
			<td> <strong> Country </strong> </td>
			<td> <strong> City </strong> </td>
			<td> <strong> Phone number </strong> </td>
			<td> <strong> Previous </strong> </td>
		</tr>
		<tr>
			<td> <a href='#' ng-click = "goToEval()"><p>Show evaluations about {{profile.username}}</p></a></td>
			<td>{{profile.country}}</td>
			<td>{{profile.city}}</td>
			<td>{{profile.phoneNumber}}</td>
			<td> <a href='#' ng-click = "findOffers()"><p>show offers</p></a></td>
		</tr>
	</table>

	<table ng-show="showEvaluation" class="table" style="margin-top : 50px" >
		<strong></strong>
		<tr>
			<td> <strong> Author :</strong> </td>
			<td> <strong> Evaluation (/10) :</strong> </td>
			<td> <strong> Commentary :</strong> </td>
		</tr>
		<tr ng-repeat="evaluation in evaluations">
			<td>{{evaluation.author}}</td>
			<td>{{evaluation.eval}}</td>
			<td>{{evaluation.commentary}}</td>
		</tr>
	</table>

</div>
